*{
    box-sizing: border-box;
    font-family: Inter;
}
body, h1, h2, h3, h4, h5, h6, p, ul, li{
    margin: 0;
    padding: 0;
    line-height: normal;
}

.header-inner{
    padding-block: 20px;
}
img{
    max-width: 100%;
}
header{
    background-color: rgba(89, 111, 130, 1);
}
.nike-logo a img {
    mix-blend-mode: darken;
    height: 45px;
}
.nike-logo a{
    display: inline-block;
}
.header-menu ul li:first-child{
    margin-inline-start: 0;
}
.header-menu ul li{
    margin-inline-start: 50px;
}
.mobile-sidenav-btn {
    display: none;
}
.mobile-sidenav-btn button {
    border: 2px solid black;
    background: transparent;
    color: black;
    border-radius: 5px;
    font-size: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline-start: auto;
}
.mobile-sidenav-content {
    width: 0;
    max-width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(89, 111, 130, 1);;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-sidenav-content ul li:not(:last-child) a {
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
    color: #fff;
    margin-block-end: 35px;
    display: block;
    text-align: center;
    transition: all .4s ease-in-out;
    text-decoration: none;
}

.mobile-sidenav-content a.site-btn.btn-dark-bg.ms-5 {
    margin-inline-start: 0 !important;
}
.sidenav-close-btn button {
    color: black;
    border-color: black
}
.sidenav-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}
.header-menu ul li:not(:last-child) a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.nav-sigin h3 {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}
.header-inner .col-2 {
    padding: 0px;
}
.menu-content ul li{
    transition: 0.3s all;
}

.menu-content :not(:last-child) a::after{
    content:'';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: width .3s;
}
.menu-content a:hover::after{
    width: 100%;
    transition: width .3s;
}
.site-btn{
    background-color: #fff;
    color: black;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    padding: 16px 50px;
    display: inline-block;
    border-radius: 30px;
    width: auto;
}
.site-btn:hover{
    background-color:grey;
    color: black;
}
.hero-section{
    /* background-color: rgba(89, 111, 130, 1); */
    background-image: url(../img/black-shoe.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-content{
    padding-block: 60px;
}
.hero-heading{
    font-family: 'Inter';
    color: #fff;
    font-size:50px;
    font-weight: bold;
}
.hero-para{
    color: #fff;
    padding-block: 20px;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    width: 400px;
}

.air-max{    
    display: flex;
    align-items: center;
    justify-content: center;    
    /* background-color: rgba(17, 14, 28, 1); */
}
.air-max-heading{
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 70px;
}
.py-70{
    padding-block: 70px;
}
.site-bt{
    background-color: rgba(55, 62, 69, 1);
    color: #fff;
}
.about-inner{
    background-color: rgba(217, 217, 217, 1);
}
.about-left{
    padding:45px 40px;
}
.about-left h4 {
    font-size: 24px;
    font-weight: 600;
}
.about-left p{
    padding-block: 20px;
    text-align: justify;
    font-size: 18px;
    font-weight: 500;
}
.about-right {
    mix-blend-mode: darken;
}
.shoes-btn-inner{
    text-align: center;   
}
.shoes-btn-inner ul li a{
    border-radius: 30px;
    color: #fff;
}
.shoes-btn-inner ul {
    display: inline-flex;
    background-color: rgba(55, 62, 69, 1);
    border-radius: 30px;
    padding: 3px;
}
.shoes-btn-inner ul li a:is(:link, :active, :visited).active{
    background-color: grey;
}
.shoes-btn-inner ul li a:is(:link){
    color: #fff;
}
.shoes-btn-inner ul li a{
    color: #fff;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 55px;
}
.shoes-content img{
    padding-block: 40px;
    text-align: center;
    /* mix-blend-mode: darken; */
    
}
.shoes-content p{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.football-shoes-content {
    padding: 30px;
}
.football-shoes-content p{
    padding-block-start: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
footer{
    background-color: rgba(89, 111, 130, 1);
    margin-block-start: 20px;
}
.footer-top{
    padding-block-start: 30px;
}
.footer-inner-left {
    padding-block-start: 20px;
}
.footer-inner-left .footer-discription{
    padding-block-start: 40px;
    text-align: justify;
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.footer-media{
    padding-block-start: 40px;
}
.footer-media ul li a i {
    color: black;
    letter-spacing: 20px;
    font-size: 25px;
}
.footer-inner-right {
    margin-inline-start: 120px;
}
.footer-inner-right h4{
    font-size: 30px;
    font-weight: bold;
    color:black;
}
.footer-inner-right ul li:not(:first-child){
    display: flex;
    padding-block-start: 40px;
}
.footer-inner-right ul li h4{
    display: flex;
    padding-block-start: 20px;
}
.footer-inner-right ul li a{
    text-decoration: none;
    font-size: 16px;   
    font-weight: 600;
    color: black;
}
.footer-menu-content ul li{
    transition: 0.3s all;
    color: #fff;
}
.footer-menu-content ul li a:hover{
    color: #fff;
}
.footer-menu-content a::after{
    content:'';
    display:block;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: width .3s;
}
.footer-menu-content a:hover::after{
    width: 100%;
    transition: width .3s;
}
.footer-menu-content ul li{
    width: fit-content;
}
.footer-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-block-start: 50px;
    font-size: 16px;
    padding-block: 30px;
    font-weight: 600;
    border-top: 1px solid black;
}